
$color-f1c1: #12151f;
$color-f1c2: #1a202f;
$color-f1c3: #232a3e;
$color-f1c4: #4f5565;
$color-f1c5: #7b7f8b;
$color-f1c6: #a7aab2;
$color-f1c7: #d3d4d8;
$color-f2c1: #202a45;
$color-f2c2: #303f68;
$color-f2c3: #40548b;
$color-f2c4: #6676a2;
$color-f2c5: #8d98b9;
$color-f2c6: #D2D3E0;
$color-f2c7: #d9dde8;
$color-f3c1: #333366;
$color-f3c2: #9AD8FF;
$color-f3c3: #9AD8FF;
$color-f3c4: #9999cc;
$color-f3c5: #ccccff;
$color-f3c6: #99cccc;
$color-f3c7: #ccffff;
$color-f4c1: #452032;
$color-f4c2: #68304b;
$color-f4c3: #8b4064;
$color-f4c4: #a26683;
$color-f4c5: #b98da2;
$color-f4c6: #d0b3c1;
$color-f4c7: #e8d9e0;
$color-f5c1: #336633;
$color-f5c2: #669966;
$color-f5c3: #99cc99;
$color-f5c4: #a4c1a4;
$color-f5c5: #cccccc;
$color-f5c6: #ccffcc;
$color-f5c7: #ffffff;
$primary: #051549;

$secondary: #6161ff;

$light: #F5F8FA;

//COLORES POR INSTRUMENTO
$colors-alt: (
    "0": #2e3aff,
    "1": #8b77ff,
    "2": #90a1ff,
    "3": #ff2e95,
    "4": #ff8bdf,
    "5": #2e3aff,
    "6": #ab0fb7,
    "15": #2e3aff,
    "16": #7728a5,
    "17": #6667ff,
    "18": #ff2e95,
    "19": #6667ff,
    "99": #2e3aff
);