<div class="container-fluid">
  <h1><a [routerLink]="['../']"><i class="fa-solid fa-angle-left"></i></a> Registro de persona</h1>
  <div>
    <form class="row" [formGroup]="formPerson" (ngSubmit)="save()">
      <div class="col-4">
        <label for="nombre">Nombres:</label>
        <input onlyAlphabet alphabetOnly type="text" class="form-control"
          formControlName="nombre" [ngClass]="addClassValidator(formPerson.get('nombre'))">
        <div class="invalid-feedback">
          Debe ingresar <b>Nombres</b>.
        </div>
      </div>
      <div class="col-4">
        <label for="apellido">Apellidos:</label>
        <input onlyAlphabet type="text" class="form-control" formControlName="apellido"
          [ngClass]="addClassValidator(formPerson.get('apellido'))">
        <div class="invalid-feedback">
          Debe ingresar <b>Apellidos</b>.
        </div>
      </div>
      <div class="col-4">
        <label for="fechaNacimiento">Fecha de nacimiento:</label>
        <input type="date" class="form-control" formControlName="fechaNacimiento"
          [ngClass]="addClassValidator(formPerson.get('fechaNacimiento'))">
        <div class="invalid-feedback">
          Debe ingresar <b>fecha nacimiento</b>.
        </div>
      </div>
      <div class="col-12">
        <h2>Hijos</h2>
        <button type="button" (click)="addHijo()" class="btn btn-primary btn-sm"><i class="fa-solid fa-plus"></i></button>
        <table formArrayName="hijos" class="table">
          <thead>
            <tr>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Fecha nacimiento</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr [formGroupName]="i" *ngFor="let r of hijos.controls; let i=index">
              <td>
                  <input onlyAlphabet placeholder="Nombres" type="text" formControlName="nombre" class="form-control"
                    [ngClass]="addClassValidator(hijos.controls[i].get('nombre'))">
                  <div class="invalid-feedback">
                    Debe ingresar <b>Nombres</b>.
                  </div>
              </td>
              <td>
                  <input onlyAlphabet placeholder="Apellidos" type="text" formControlName="apellido" class="form-control"
                    [ngClass]="addClassValidator(hijos.controls[i].get('apellido'))">
                  <div class="invalid-feedback">
                    Debe ingresar <b>apellidos</b>.
                  </div>
              </td>
              <td>
                  <input placeholder="Fecha nac." type="date" formControlName="fechaNacimiento" class="form-control"
                    [ngClass]="addClassValidator(hijos.controls[i].get('fechaNacimiento'))">
                  <div class="invalid-feedback">
                    Debe ingresar <b>fecha nacimiento</b>.
                  </div>
              </td>
              <td>
                <button type="button" (click)="removeHijo(i)" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
              </td>
            </tr>
            <tr *ngIf="!hijos.controls.length">
              <td colspan="4">
                No tiene hijos registrados
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12">
        <h2>Peliculas favoritas</h2>
        <button type="button" (click)="addPelicula()" class="btn btn-primary btn-sm"><i class="fa-solid fa-plus"></i></button>
        <table formArrayName="peliculasFavoritas" class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Director</th>
              <th>Año</th>
              <th>Tiene oscar</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr [formGroupName]="i" *ngFor="let r of peliculasFavoritas.controls; let i=index">
              <td>
                  <input placeholder="Nombre" type="text" formControlName="nombre" class="form-control"
                    [ngClass]="addClassValidator(peliculasFavoritas.controls[i].get('nombre'))">
                  <div class="invalid-feedback">
                    Debe ingresar <b>nombre de pelicula</b>.
                  </div>
              </td>
              <td>
                  <input onlyAlphabet placeholder="Director" type="text" formControlName="director" class="form-control"
                    [ngClass]="addClassValidator(peliculasFavoritas.controls[i].get('director'))">
                  <div class="invalid-feedback">
                    Debe ingresar <b>director</b>.
                  </div>
              </td>
              <td>
                  <input placeholder="Año" type="number" formControlName="anio" class="form-control"
                    [ngClass]="addClassValidator(peliculasFavoritas.controls[i].get('anio'))">
                  <div class="invalid-feedback">
                    Debe ingresar <b>año</b>.
                  </div>
              </td>
              <td>
                  <input placeholder="Tiene oscar" type="checkbox" formControlName="hasOscar" class="form-check-input">
              </td>
              <td>
                <button type="button" (click)="removePelicula(i)" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
              </td>
            </tr>
            <tr *ngIf="!peliculasFavoritas.controls.length">
              <td colspan="5">
                No tiene peliculas registrados
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12">
        <button [disabled]="formPerson.invalid" type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
  </div>
</div>